page-category-wise-products {
    .catCol{
        border: 1px solid map-get($colors,primary);
        height: 100px;
    }
    .prodCard{
        height: 220px;
    }    
    .imgContainer{
        height: 170px;        
    }

    .cardImg{
        height: 100%;
        width: auto;
        margin: auto;
    }
}
