<ion-header>
  <ion-navbar color="primary">
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="image" text-center>
    <img [src]="prod.ImageUrl" ion-text class="image" />
  </div>


  <ion-card-title> {{prod.Name}}</ion-card-title>


  <ion-item no-lines (click)="gtSellerPage()">
    <p item-start>Seller</p>
    <p ion-text item-end color="primary">{{prod.StoreName | uppercase}}</p>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" color="primary">Price</ion-label>
    <p ion-text>Rs. {{prod.Price}}</p>
  </ion-item>




  <ion-footer>
    <button ion-button *ngIf="!inC" block (click)="atCart()">
      <ion-icon name="md-cart" margin-right></ion-icon>
      Add to Cart
    </button>


    <button ion-button block *ngIf="inC" (click)="gtCart()">
      Go to Cart
      <ion-icon name="md-arrow-forward" margin-left></ion-icon>
    </button>

  </ion-footer>




</ion-content>