page-subcats-display {
    .catCol {
        // border: 1px solid map-get($colors, primary);
        height: 100px;
        img{
            height: 50px;
            width: auto;
            margin: auto;
        }
      }
}
